/* Write your CSS code here */
.header-conainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-ul-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list-item-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.link {
  font-family: 'roboto';
  font-size: 28px;
}
